.title{
    background-image: linear-gradient(180deg, #a0f0ff 0, #1d7ef3 50%, #001c50 100%);
    padding: 1rem 8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem
}
.title h3{
    text-align: left;
}

.login a{
    color: aliceblue;
}

.start a{
    color: aliceblue;
    padding: 0.5rem;
    background-color: rgb(56, 56, 56);
}

.botonesT{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 2rem;
}

@media screen and (max-width: 1000px){
    .botonesT{ 
        flex-direction: row;
    }
    .title{
        padding: 1rem 2rem;
    }
}