footer{
    background-color: rgb(56, 56, 56);
    left: 0;
    bottom: 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 2rem;
    padding: 4rem 8rem;
    border-top: 2px aliceblue solid;
    
}

footer a{
    color: aliceblue;
    padding: 0px 25px 0px opx;
} 
.footerText{
    border-right: solid aliceblue 2px;
}

.footerEnlaces{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.copyR{
    color: aliceblue;
    align-self:flex-start;
}

.iconos{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 50%; 
}


.redes{
    padding: 10px;
}
