nav{
    height: 55vh;
    width: 100vw;
    overflow:scroll;
    padding: 4rem 8rem;
    background-color: aliceblue;
    
}
::-webkit-scrollbar {
    display: none;
}

.seriesIcon{
    background-image: url(../../assets/placeholder.png);
    width: 200px;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(56, 56, 56);
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    border: 2px aliceblue solid;
}


.pelisIcon{
    background-image: url(../../assets/placeholder.png);
    width: 200px;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(56, 56, 56);
    display: flex;
    flex-wrap: wrap; 
    align-content: center;
    justify-content: center;
    border: 2px aliceblue solid;
}
ul{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    list-style: none;
    height: 70%;
    width: 100%;
}

h3{
    text-decoration: none;
    color: aliceblue;
    font-size: 30px;
    text-align: center;  
}

a{
    text-decoration: none;
}

