.errorScreen{
    height: 63vh;
    width: 100vw;
    overflow:scroll;
    padding: 1rem 8rem;
    background-color: aliceblue;
}

@media screen and (max-width: 1000px){
    .errorScreen{
        padding: 1rem 1rem;
    }
}