.seriesEscreen{
    height: 63vh;
    width: 100vw;
    overflow:scroll;
    padding: 1rem 8rem;
    background-color: aliceblue;
}
.volver{
    background-color: aliceblue;
    width: 100vw;
}


@media screen and (max-width: 1000px){
    .seriesEscreen{
        padding: 1rem 1rem;
    }
}